<section id="contact">
    <div class="amazing">
        <div class="container">
            <div class="txt-amazing">
                <h3 class="title-amazing">Amazing <span class="style-title">Team</span></h3>
                <p class="txt-title">These wonderful people make work enjoyable.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content-ama">
                    <img class="image-amazing" src="images/avt.png" alt="">
                    <div class="content-amazing">
                        <h6 class="title-content-amazing">Kimberly Thompson</h6>
                        <p class="txt-content-amazing">Marketer</p>
                        <div class="row icon">
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-twitter"></span>
                                </a>
                            </div>
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-facebook"></span>
                                </a>
                            </div>
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-pinterest"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content-ama">
                    <img class="image-amazing" src="images/avt.png" alt="">
                    <div class="content-amazing">
                        <h6 class="title-content-amazing">Kimberly Thompson</h6>
                        <p class="txt-content-amazing">Marketer</p>
                        <div class="row icon">
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-twitter"></span>
                                </a>
                            </div>
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-facebook"></span>
                                </a>
                            </div>
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-google"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content-ama">
                    <img class="image-amazing" src="images/avt.png" alt="">
                    <div class="content-amazing">
                        <h6 class="title-content-amazing">Kimberly Thompson</h6>
                        <p class="txt-content-amazing">Marketer</p>
                        <div class="row icon">
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-facebook"></span>
                                </a>
                            </div>
                            <div class="ico">
                                <a href="">
                                    <span class="icon-1 icon-pinterest"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="txt">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio
                        in tincidunt proin iaculis.</p>
            </div>    
        </div>
    </div>
    <div class="clearfix"></div>
</section>