<section class="banner-container" data-wow-duration="1s" id="home">
    <div class="container-fluid content" style="background-image: url('images/banner.png')">
        <div class="content_banner">
            <div class="container">
                <div class="slider" id="single_item">
                    <div class="item">
                        <h3 class="lato wow lightSpeedIn">Can you build the website of my dreams?</h3>
                        <h2 class="w3-animate-left">YUP, WE CAN DO THAT.</h2>
                        <div class="row btn_banner">
                            <button type="button" class="btn wow zoomIn">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="lato wow lightSpeedIn">Can you build the website of my dreams?</h3>
                        <h2 class="w3-animate-left">YUP, WE CAN DO THAT.</h2>
                        <div class="row btn_banner">
                            <button type="button" class="btn wow zoomIn">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="lato wow lightSpeedIn">Can you build the website of my dreams?</h3>
                        <h2 class="w3-animate-left">YUP, WE CAN DO THAT.</h2>
                        <div class="row btn_banner">
                            <button type="button" class="btn wow zoomIn">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>