<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-woman"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-browser"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-mobile2"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-video"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-star-empty"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 skill">
                <div class="icon">
                    <div class="row ico-cli">
                        <div class="bd-icon">
                            <i class="icon1 icon-camera2"></i>
                        </div>
                        <div class="txt-skill">
                            <a class="tit-skill" href="">
                                <h6 class="title-skill">Branding & Identity</h6>
                            </a>
                            <p class="txt-clients">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                                posuere odio in tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>