<section id="team">
    <div class="team">
        <div class="container">
            <div class="txt-team">
                <h3 class="title-team">Awesome Clients</h3>
                <p class="title-txt">See what nice things our clients said about us. </p>
            </div>
            <div class="row content-team">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-team">
                    <img src="images/avt.png" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 text-team">
                    <div class="text">
                        <p>“ Proin iaculis purus consequat sem cure digni ssim
                            <br> donec porttitora entum suscipit aenean rhoncus. ”
                        </p>
                        <br>
                        <a href="">- Jamie Richardson, Founder of Cocoa Media</a>
                    </div>
                </div>
            </div>
            <div class="row content-team">
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 text-team">
                    <div class="text">
                        <p>“ Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus.
                            ”
                        </p>
                        <br>
                        <a href="">- Jamie Richardson, Founder of Cocoa Media</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-team">
                    <img src="images/avt.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid content-1">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 lg">
                    <a href="">
                        <img src="images/envato.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 lg">
                    <a href="">
                        <img src="images/wordpress.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 lg">
                    <a href="">
                        <img src="images/tuts.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 lg">
                    <a href="">
                        <img src="images/microlancer.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>