@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6eiuqs');
    src:  url('../fonts/icomoon.eot?6eiuqs#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6eiuqs') format('truetype'),
      url('../fonts/icomoon.woff?6eiuqs') format('woff'),
      url('../fonts/icomoon.svg?6eiuqs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-video:before {
    content: "\e900";
  }
  .icon-camera:before {
    content: "\e900";
  }
  .icon-movie:before {
    content: "\e900";
  }
  .icon-google:before {
    content: "\e902";
  }
  .icon-browser:before {
    content: "\e901";
  }
  .icon-camera2:before {
    content: "\e90f";
  }
  .icon-mobile2:before {
    content: "\e959";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-woman:before {
    content: "\e9dd";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }

  /* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'Brandon Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Regular Italic'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Thin Italic'), url('../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Light';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Light'), url('../fonts/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Light Italic'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Medium Italic'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Bold Italic'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Brandon Black';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Black'), url('../fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
  }

  @font-face {
    font-family: 'Brandon Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium'), url('../fonts/brandon-grotesque-medium-587bd623e472a.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Brandon Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin'), url('../fonts/brandon-grotesque-thin-587bd5b76cfba.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Brandon Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold'), url('../fonts/brandon-grotesque-bold-587bd6400afd0.woff') format('woff');
    }
  